@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<p class="mt-6">
    Please check your email to confirm your account.
</p>

