@model IEnumerable<Category>

@{
    ViewData["Title"] = "Games Categories Page";
}

<div class="container-fluid d-flex justify-content-center">

    <!-- Content Row -->
    <!-- Content -->

    <div class="col-8">
        <h1 class="text-center text-success mb-5">All Games Categories</h1>

        <a class="btn btn-success my-3" href="/Admin/Games/CreateCategory">Create New Category</a>

        <table class="table table-striped text-center text-white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Games" asp-action="EditCategory" asp-route-categoryId="@category.Id" class="btn btn-warning rounded rounded-3 mr-2 font-weight-bold" style="width: 70px;">Edit</a>
                            <a href="javascript:;" class="btn btn-danger rounded rounded-3 mr-2 font-weight-bold js-delete" style="width: 70px;" data-id="@category.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var Btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this category?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Admin/Games/DeleteCategory/' + Btn.data('id'),
                                type: 'POST',
                                data: {
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                success: function () {
                                    Btn.closest('tr').fadeOut(500, function () {
                                        $(this).remove();
                                    });
                                },
                                error: function () {
                                    alert('An error occurred while deleting the category.');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}