@{
    ViewData["Title"] = "Create Category Page";
}

<div class="container mt-5 d-flex justify-content-center">

    <!-- Content -->

    <div class="col-lg-6 col-12">
        <div class="text-success">
            <h2 class="mb-0">Creating New Category</h2>
        </div>
        <hr />
        <form method="get">

            <div class="form-group mt-3">
                <label for="loan_full_name" class="form-label">Category Name</label>
                <input type="text" class="form-control shadow-none" id="loan_full_name">
            </div>

            <a onclick="alert('Saved Successfully')" class="text-white btn btn-success" style="margin-left: 5px; margin-top: 1vw; width: 70px;"
               href="#">save</a>
        </form>
    </div>
    <!-- End of Main Content -->
</div>