@{
    ViewData["Title"] = "Games in Station Page";
}

<div class="container-fluid">

    <!-- Content Row -->

    <h1 class="text-center text-success"><strong>Lousel</strong></h1>
    <h2 class="text-center text-success mb-5">Games</h2>
    <div>
        <table class="table table-striped text-white text-center" style="font-size:20px;">
            <thead>
                <tr>
                    <th>
                        Cover
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Assets/Images/overcooked.jpg" alt="Name" width="150px" height="150px"  />
                    </td>
                    <td>
                        <strong>Overcooked</strong>
                    </td>
                    <td>
                        CO-OP
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Assets/Images/Battlefield 2042.jpg" alt="Name" width="150px" height="150px" />
                    </td>
                    <td>
                        <strong>Battlefield 2042</strong>
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Assets/Images/Final Fantasy.jpg" alt="Name" width="150px" height="150px" />
                    </td>
                    <td>
                        <strong>Madden NFL 24</strong>
                    </td>
                    <td>
                        Sports
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Assets/Images/Kina.jpg" alt="Name" width="150px" height="150px" />
                    </td>
                    <td>
                        <strong>Kina Bridge Of Spirits</strong>
                    </td>
                    <td>
                        Arcade
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- End of Main Content -->
</div>