@{
    ViewData["Title"] = "All Games Page";
}

<div class="container-fluid">

    <h1 class="text-center text-success mb-5">All Games</h1>


    <!-- Content Row -->
    <div class="mt-5">
        <p>
            <a href="/Admin/Games/Create" class="btn btn-success">Create New</a>
        </p>

        <table class="table table-striped text-white">
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/COD MW III.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white"> <strong>COD MW III</strong></h4>
                                <h5>Action</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/WWE2K.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white"> <strong>WWE 2K 24</strong></h4>
                                <h5>Soprts</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/Hogwarts Legacy.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Hogwarts Legacy</strong>
                                </h4>
                                <h5>Adventures</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/sniper elite 5.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Sniper Elite 5</strong>
                                </h4>
                                <h5>Action</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/Horizon.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Horizon Forbidden West</strong>
                                </h4>
                                <h5>Adventures</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/Ratchat.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Ratchet & Clank</strong>
                                </h4>
                                <h5>Arcade </h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/overcooked.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Overcooked</strong>
                                </h4>
                                <h5>CO-OP</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/Battlefield 2042.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Battlefield 2042</strong>
                                </h4>
                                <h5>Action</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/Final Fantasy.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Madden NFL 24</strong>
                                </h4>
                                <h5>Sports</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="pr-4">
                                <img src="~/Assets/Images/Kina.jpg" alt="Name" style="max-width: 70px" />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="text-white">
                                    <strong>Kina Bridge Of Spirits</strong>
                                </h4>
                                <h5>Arcade</h5>
                            </div>
                        </div>
                    </td>

                    <td class="align-middle">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Games" asp-action="Edit" class="btn btn-warning rounded rounded-3 mr-2 w-25 font-weight-bold">Edit</a>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Delete" class="btn btn-danger rounded rounded-3 mr-2 w-25 font-weight-bold" onclick="return confirm('Are You Sure From Delete... ?')">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- End of Main Content -->
</div>