@model EditGameStation

@{
    ViewData["Title"] = "Edit Owner Station Page";
}

<div class="container-fluid px-4">
    <h1 class="text-center text-success mb-5">Station Details</h1>

    <div class="container-fluid">
        <form asp-action="Edit" asp-controller="OwnersStations" method="post" enctype="multipart/form-data" id="editForm">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />

            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="text-success">
                        <h2 class="mb-0">Edit Station Details</h2>
                    </div>
                    <hr />

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }

                    <div class="form-group mt-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control shadow-none" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control shadow-none" asp-for="Location">
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label class="form-label">Phone Number (1)</label>
                        <input type="text" class="form-control shadow-none" asp-for="PhoneNumber1">
                        <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label class="form-label">Phone Number (2)</label>
                        <input type="text" class="form-control shadow-none" asp-for="PhoneNumber2">
                        <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control shadow-none" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Image</label>
                        <input type="file" class="form-control shadow-none" asp-for="Cover" id="imageInput">
                        <small class="form-text text-muted">Only jpg, jpeg, png files are allowed with a max size of 1MB</small>
                        <span asp-validation-for="Cover" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-6 col-12 justify-content-center pt-5 overflow-hidden">
                    <div style="width: 300px; height: 400px; position: relative; margin-left: 17%;">
                        <img id="imagePreview" class="cover-preview rounded"
                             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover;"
                             src="@($"{FileSettings.StationFilePath}/{Model.CurrentCover}")"
                             alt="Cover" width="300px" height="400px" />
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-3" style="width: 100px;">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            const file = event.target.files[0];
            const imagePreview = document.getElementById('imagePreview');

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}