@using GameZone.ViewModels
@model EditCurentUserVM


<section class="container text-center" style="margin-top: 15vw; margin-bottom: 15vw;">

    <div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="col-lg-10 mx-auto text-center">

                    <h2 class="section-title mb-0">Account Details</h2>

                    <div class="section-border mt-4 w-25"></div>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="row justify-content-around">

                   <input type="hidden" asp-for="Id" value="Id"/>
                    <div class="col-lg-7 mb-4 pb-2">
                        <div class="form-group">
                            <label asp-for="FirstName" class="form-label">First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control form-control-user"
                                   placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-7 mb-4 pb-2">
                        <div class="form-group">
                            <label asp-for="LastName" class="form-label">Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control form-control-user" 
                                   placeholder="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-7 mb-4 pb-2">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="text" class="form-control form-control-user"
                                   placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <button asp-action="UserIndex" class="btn btn-primary col-4">Back to Home</button>
                        <button type="submit" class="btn btn-warning col-4 text-white">Edit Details</button>

                    </div>

                </div>
            </form>
        </div>
    </div>



</section>

