@{
    ViewData["Title"] = "Team Page";
}

<!-- Team -->
<section class="section">
    <div class="container">
        <!-- Our Team Title -->
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="col-lg-10 mx-auto text-center title-row">
                    <h2 class="section-title mb-0">Our Team</h2>
                    <div class="section-border mt-4"></div>
                </div>
            </div>
        </div>
        <!-- /Our Team Title -->

        <div class="row justify-content-around align-items-center">
            <!-- Team member card -->
            <div class="col-md-4 col-8">
                <div class="card bg-transparent border-0 text-center">
                    <div class="card-img">
                        <img src="~/Assets/team/member-2.jpeg"
                             alt="Scarlet Pena"
                             class="rounded imgteam"
                             width="300"
                             height="333" />
                        <ul class="card-social list-inline bg-transparent">
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/whatsapp.png" alt="Whatsapp" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h3 class="h3-size">Anas Barabaa</h3>
                        <p class="fw-bold">Founder</p>
                    </div>
                </div>
            </div>
            <!-- /Team member card end -->
            <!-- Team member card -->
            <div class="col-md-4 col-8">
                <div class="card bg-transparent border-0 text-center">
                    <div class="card-img">
                        <img src="~/Assets/team/member-1.png"
                             alt="Claire Simmmons"
                             class="rounded imgteam"
                             width="300"
                             height="333" />
                        <ul class="card-social list-inline bg-transparent">
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/whatsapp.png" alt="Whatsapp" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h3 class="h3-size">Omar Al-Akbari</h3>
                        <p class="fw-bold">Founder</p>
                    </div>
                </div>
            </div>
            <!-- /Team member card end -->
        </div>
        <div class="row justify-content-around align-items-center">
            <!-- Team member card -->
            <div class="col-md-4 col-8">
                <div class="card bg-transparent border-0 text-center">
                    <div class="card-img">
                        <img src="~/Assets/team/member-4-.png"
                             alt="Leslie Pena"
                             class="rounded imgteam" />
                        <ul class="card-social list-inline bg-transparent">
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/whatsapp.png" alt="Whatsapp" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h3 class="h3-size">Ammar Bawazeer</h3>
                        <p class="fw-bold">Founder</p>
                    </div>
                </div>
            </div>
            <!-- /Team member card /end -->
            <!-- Team member card -->
            <div class="col-md-4 col-8">
                <div class="card bg-transparent border-0 text-center">
                    <div class="card-img">
                        <img src="~/Assets/team/member-3.png"
                             alt="Scarlet Pena"
                             class="rounded imgteam"
                             width="300"
                             height="332" />
                        <ul class="card-social list-inline bg-transparent">
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="bg-transparent border-0 social-image">
                                    <img src="~/Assets/social/whatsapp.png" alt="Whatsapp" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h3 class="h3-size">Mubarak Bamazahim</h3>
                        <p class="fw-bold">Founder</p>
                    </div>
                </div>
            </div>
            <!-- /Team member card end -->
        </div>
    </div>
</section>
<!-- /Team -->
