@{
        ViewData["Title"] = "User Reservation Log";
        Layout = "_layout2";
}

<section style="margin-top: 15vw">
      <div class="container">
        <!-- Page Title -->
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="col-lg-10 mx-auto text-center">
              <h2 class="section-title mb-0">Reservation Log</h2>

              <div class="section-border mt-4 w-25"></div>
            </div>
          </div>
        </div>
        <!-- /Page Title -->

        <!-- Reservation Table -->
        <div class="row justify-content-center" style="margin: 5vw 0vw">
          <div class="col-10">
            <table class="table text-white">
              <thead class="text-center">
                <tr>
                  <th>ID</th>
                  <th>Station Name</th>
                  <th>Type Of Rooms</th>
                  <th>Date Of Reservation</th>
                  <th>Time Of Reservation</th>
                  <th>Number Of Hours</th>
                  <th>Total Cost</th>
                  <th>Payment Method</th>
                  <th>Status Of Reservation</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr style="height: 4vw">
                  <th>1</th>
                  <td>Game Over</td>
                  <td>BIG</td>
                  <td>2024-05-02</td>
                  <td>10:00 AM</td>
                  <td>2 Hours</td>
                  <td>8000 RY</td>
                  <td>Cash</td>
                  <td>Confirmed</td>
                </tr>
                <tr style="height: 4vw">
                  <th>2</th>
                  <td>Village</td>
                  <td>VIP</td>
                  <td>2024-05-03</td>
                  <td>11:30 AM</td>
                  <td>1 Hour</td>
                  <td>4000 RY</td>
                  <td>Cash</td>
                  <td>Pending</td>
                </tr>
                <tr style="height: 4vw">
                  <th>3</th>
                  <td>Game Ya Eiaal</td>
                  <td>BIG</td>
                  <td>2024-04-04</td>
                  <td>2:00 PM</td>
                  <td>4 Hours</td>
                  <td>8000 RY</td>
                  <td>Omgy</td>
                  <td>Confirmed</td>
                </tr>
                <tr style="height: 4vw">
                  <th>4</th>
                  <td>Black Spider</td>
                  <td>Regular</td>
                  <td>2024-03-05</td>
                  <td>4:30 PM</td>
                  <td>3 Hours</td>
                  <td>5000 RY</td>
                  <td>Kuraimi</td>
                  <td>Cancelled</td>
                </tr>
                <tr style="height: 4vw">
                  <th>5</th>
                  <td>Black Spider</td>
                  <td>Regular</td>
                  <td>2024-04-06</td>
                  <td>9:00 AM</td>
                  <td>6 Hours</td>
                  <td>5000 RY</td>
                  <td>Omgy</td>
                  <td>Confirmed</td>
                </tr>
                <tr style="height: 4vw">
                  <th>6</th>
                  <td>Rank One</td>
                  <td>BIG</td>
                  <td>2024-02-07</td>
                  <td>1:30 PM</td>
                  <td>1:30 Hour</td>
                  <td>8000 RY</td>
                  <td>Kuraimi</td>
                  <td>Pending</td>
                </tr>
                <tr style="height: 4vw">
                  <th>7</th>
                  <td>Premier League</td>
                  <td>SMALL</td>
                  <td>2024-02-08</td>
                  <td>3:00 PM</td>
                  <td>3:30 Hours</td>
                  <td>3000 RY</td>
                  <td>Cash</td>
                  <td>Confirmed</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /Reservation Table -->
      </div>

      <!-- Footer -->
    </section>
