@model CreateGameStationVM

@{
    ViewData["Title"] = "Create Station Page";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->

    <form asp-area="Admin" asp-controller="GameStations" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col-lg-6 col-12">

                <div class="text-success">
                    <h2 class="mb-0">Creating New Station</h2>
                </div>
                <hr />

                <div class="form-group mt-3">
                    <label for="loan_full_name" class="form-label" asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control shadow-none" id="loan_full_name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label for="loan_full_name" class="form-label" asp-for="Location"></label>
                    <input type="text" asp-for="Location" class="form-control shadow-none" id="loan_full_name">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label class="form-label" asp-for="PhoneNumber1"></label>
                    <input type="text" asp-for="PhoneNumber1" class="form-control shadow-none" id="address">
                    <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label" asp-for="PhoneNumber2"></label>
                    <input type="text" asp-for="PhoneNumber2" class="form-control shadow-none" id="address">
                    <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label class="form-label" asp-for="MorningOpenTime"></label>
                    <input type="time" asp-for="MorningOpenTime" class="form-control shadow-none" id="address">
                    <span asp-validation-for="MorningOpenTime" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label class="form-label" asp-for="MorningCloseTime"></label>
                    <input type="time" asp-for="MorningCloseTime" class="form-control shadow-none" id="address">
                    <span asp-validation-for="MorningCloseTime" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label class="form-label" asp-for="EveningOpenTime"></label>
                    <input type="time" asp-for="EveningOpenTime" class="form-control shadow-none" id="address">
                    <span asp-validation-for="EveningOpenTime" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label class="form-label" asp-for="EveningCloseTime"></label>
                    <input type="time" asp-for="EveningCloseTime" class="form-control shadow-none" id="address">
                    <span asp-validation-for="EveningCloseTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="loan_full_name" class="form-label" asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control shadow-none" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="loan_full_name" class="form-label" asp-for="Cover"></label>
                    <input type="file" asp-for="Cover" name="Cover" class="form-control shadow-none" id="Cover"
                           data-rule-extension="@StationCoverSettings.allowedExtensions.Replace(".", string.Empty)"
                           data-msg-extension="Not Allowed Extension"
                           data-rule-fileSize="@StationCoverSettings.maxFileSizeInBytes"
                           data-msg-fileSize="Maximum Allowed Size is (@(StationCoverSettings.maxFileSizeInMB))MB.">

                    <span asp-validation-for="Cover" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="loan_full_name" class="form-label" asp-for="UserId"></label>
                    <select class="form-control" asp-for="UserId" asp-items="Model.Users">
                        <option value="">Select Owner</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <button type="submit" class="text-white btn btn-success" style="margin-left: 1vm; margin-top: 1vw; width: 70px;">
                    save
                </button>
            </div>

            <div class="col-lg-6  col-12 justify-content-center" style="margin-top: 160px;">
                <div class="overflow-hidden" style="border: 2px solid white;width: 350px;height: 450px; border-radius: 10px;position: relative;margin-left: 17%;">
                    <img class="cover-previewrounded d-none station-cover"
                         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                         alt="Cover" width="100%" height="100%" />
                </div>
            </div>
        </div>
    </form>

</div>
<!-- End of Main Content -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        // Cover Client Side Validation
        $.validator.addMethod("extension", function (value, element, parameter) {
            if (this.optional(element)) return true;
            var extension = value.split('.').pop().toLowerCase();
            return $.inArray(extension, parameter.split(',')) !== -1;
        });

        $.validator.addMethod("fileSize", function (value, element, parameter) {
            if (this.optional(element)) return true;
            return element.files[0].size <= parameter;
        });


        // Preview Image in Left of the Form
        $(document).ready(function () {
            $('#Cover').on('change', function () {
                $('.station-cover').attr('src', window.URL.createObjectURL(this.files[0])).removeClass('d-none');
            });
        });
    </script>
}
