@model GamesInStationVM

@{
    ViewData["Title"] = "Games in Station Page";
}

<div class="container-fluid">

    <!-- Content Row -->

    <h1 class="text-center text-success"><strong>@Model.StationName</strong></h1>
    <h2 class="text-center text-success mb-5">Games</h2>
    <div>
        <table class="table table-striped text-white text-center" style="font-size:20px;">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Games)
                {
                    <tr>
                        <td>
                            <img src="~/Assets/Images/@game.Cover" alt="Name" width="150px" height="150px" />
                        </td>
                        <td>
                            <strong>@game.Name</strong>
                        </td>
                        <td>
                            @game.Category.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- End of Main Content -->
</div>

@section Scripts{
    <script>
        $('table').DataTable();
    </script>
}