@model CreateUserVM

@{
    ViewData["Title"] = "Create User Page";
}

<div class="container mt-3">
    <div class="col-md-12">
        <div class="text-success">
            <h2 class="mb-0 text-center">Creating New User</h2>
        </div>
        <hr />

        <form method="post">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-4">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="text" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-4">
                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-4">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-4">
                    <label asp-for="RoleId" class="form-label">Role</label>
                    <select asp-for="RoleId" asp-items="Model.Roles" class="form-select">
                        <option value="Select Role">Select Role</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success px-4">Create</button>
                <a href="/Admin/Users/Index" class="btn btn-outline-secondary px-4">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}