@{
    ViewData["Title"] = "Game Details Page";
}

<section class="container" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="col-12">
        <div class="col-lg-10 mx-auto text-center">
            <h2 class="section-title mb-0">Game Details</h2>
            <div class="section-border mt-4"></div>
        </div>
    </div>
<div class="card border-success rounded-4 mt-5 overflow-hidden">
    
    <div class="card-body bg-card p-0">
        <div class="row align-items-center">
            <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                
                <div>
                    <h1 class="text-success fw-bold">COD MW III</h1>
                    <span class="badge bg-danger text-light fs-5 mb-4">Action</span>
                    <p class="fs-5">
                        <p class="fw-bold fs-5">General Information</p>
                        <p><span class="fw-bold">Developer:</span> Activision</p>
                        <p><span class="fw-bold">Release:</span> 2023 </p>
                        <p><span class="fw-bold">Platforms:</span>
                            <img class="m-1" src="~/Assets/Images/playstation.svg" title="Playstation">
                            <img class="m-1" src="~/Assets/Images/xbox.svg" title="XBOX">
                            <img class="m-1" src="~/Assets/Images/pc-display.svg" title="PC">
                            <img class="m-1" src="~/Assets/Images/nintendo-switch.svg" title="Switch">
                        </p>
                        <p><span class="fw-bold">Available in:</span>
                            <select class="styled-select mx-5">
                                <option><a asp-controller="GameStations" asp-action="StationDetails">Lucille Game Station</a></option>
                                <option>Black Spider Game Station</option>
                                <option>Village Game Station</option>
                                <option>Game Over Game Station</option>
                            </select>
                        </p>

                    </p>
@*                    
*@                    <p class="fw-bold fs-5">Description</p>
                    <p>
                        Call of Duty: Modern Warfare 2 (COD MW2) is a first-person shooter game developed by Infinity Ward and published by Activision.
                        It is a sequel to Call of Duty 4: Modern Warfare. Released in 2009, it features a gripping single-player campaign
                        and a popular multiplayer mode. The game is set in a near-future fictional world, with intense combat, modern weapons,
                        and a storyline revolving around conflicts between the United States and Russia. Modern Warfare 2 received critical acclaim
                        and is known for its action-packed gameplay and addictive multiplayer experience.
                    </p>
                </div>
            </div>
            <div class="col-md-4 ">
                <img style="height: 31vw;" src="~/Assets/Images/COD MW III.jpg"/>
            </div>
        </div>
    </div>
</div>
</section>