@{
    ViewData["Title"] = "Category Games Page";
}

<section class="section teams pb-5">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-12">
				<div class="col-lg-10 mx-auto text-center">

					<h2 class="section-title mb-0">Action Games</h2>

					<div class="section-border mt-4"></div>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row mb-n-1">
				<div class="col-8 pl-0">
					<h3 class="pt-x-1">
						Action<span>
							<img src="~/Assets/Images/chevron-right.svg" alt="">
						</span>
					</h3>

				</div>

				<div class="col-4 text-right pr-0">
					<a class="btn btn-primary" href="/Games/GetAll">All Games</a>
				</div>
			</div>
		</div>

		<div class="row position-relative">

			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">

				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/COD MW III.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>COD MW III</h3>
					</div>
				</div>

			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/Battlefield 2042.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>


					<div class="card-body">
						<h3>Battlefield 2042</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/resident evil.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Resident Evil 4</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/sniper elite 5.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Sniper Elite 5</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section teams pt-5">
	<div class="container">

		<div class="row position-relative">

			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">

				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/far cry 6.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Far Cry 6</h3>
					</div>
				</div>

			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/Eldren Ring.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>


					<div class="card-body">
						<h3>Eldren Ring</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/back 4 blood.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Back 4 Blood</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/Hell Let Loose.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Hell Let Loose</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section teams pt-0">
	<div class="container">

		<div class="row position-relative">

			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">

				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/BorderLands.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>BorderLands</h3>
					</div>
				</div>

			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/Terminator.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>


					<div class="card-body">
						<h3>Terminator Resistance</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/assassins creed.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Assasins Creed Valhala</h3>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mt-4">
				<div class="card bg-transparent border-0 text-center">

					<div class="card-img">
						<img src="~/Assets/Images/Cyberpunk.jpg" alt="Scarlet Pena" class="rounded w-100 gray-image" width="300" height="332">
						<a class="hidden-button bg-primary rounded-2" asp-controller="Games" asp-action="GameDetails">Learn More</a>
					</div>

					<div class="card-body">
						<h3>Cyberpunk</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

